{% extends 'base.html' %}
{% load static %}
{% block desc %} 
{{ block.super }}
<meta name="description" content="Get the best lectures from the  faculties of IIT and NIT passouts with the teaching experience of more than 10 years"/>
{% endblock %}

{% block title %}Glory IAS{% endblock title %}
{% block css %}
{{ block.super }}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<header class="page-header-ui page-header-ui-dark bg-img-repeat bg-secondary" style="background-image: url('{% static "images/bg1.png" %}');">
    <div class="page-header-ui-content">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="h col-lg-6">
                    <div class="badge badge-marketing rounded-pill bg-secondary-soft text-secondary mb-3">Start today!
                    </div>
                    <h1 class="page-header-ui-title wcu " style="font-style:bold; margin-bottom:20px;">Get the advantage of TFBA (The First & Best Attempt) method that helped our mentors and 100 others to clear Civil Service/Forest Service/State PCS exam in last 9 years </h1>
                    {% comment %} <p class="page-header-ui-text">Stop losing leads because of a non-optimized landing page. Start
                        converting your users to paying customers and winning more sales today with a new landing page!
                    </p> {% endcomment %}
                    <div style=" margin-bottom: 113px;">

                        <a class="btn btn-primary" style="text-decoration: none; font-size: 14px;
                        background: #ecf1ff;
                        color: #4747fe;
                        border: #e4e4eb;
                        box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 7%);" href="tel:9984575028">
                            <b>Click here to Enroll</b>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ms-2"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                        </div>
                </div>
                <br>
                <div class="col-lg-6">

                    <div class="card formcard bg-transparent" style="margin:47px; border:0px; " >
                        <img src="{% static 'images/2.png' %}" alt="course">
                    </div>
                    {% comment %} <div class="card formcard rounded-3 text-dark">
                        <div class="card-body">
                            <center>
                                <h5 class="h5">Book A Free Demo Class</h5>
                            </center>
                            <br>
                            {% if messages %}
                               {% for msg in messages %}
                                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
                                  {{msg.message}}
                                  </div>
                               {% endfor %}
                            {% endif %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3">

                                    <input class="form-control" id="name" type="text" placeholder="Name" name="name"
                                        required>
                                </div>
                                <div class="mb-3">

                                    <input class="form-control" id="leadCapEmail" type="email" placeholder="Email" name="email"
                                        required>
                                </div>
                                <div class="mb-3">

                                    <input class="form-control" id="phonenumber" type="number" max="9999999999" min="1000000000"
                                        placeholder="Contact Number" name="phonenumber" required>
                                </div>
                                <div class="mb-3">

                                    <input class="form-control" id="whatsappnumber" type="number" max="9999999999" min="1000000000"
                                        placeholder="Whatsapp Number" name="whatsappnumber" required>
                                </div>

                                <div class="d-grid"><button class="btn btn-primary fw-500" name="bookfreeclassess" type="submit">Submit</button>
                                </div>
                            </form>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<br>
<br>
<br>
<section class="pt-10">
    <center>
        <h2 class="wcu">WHY CHOOSE US?</h2>
        <hr style="width:11%;background: black;
    height: 2px;
    opacity: 0.7;">
    </center>
    <div class="container px-5">
        <div class="row gx-5 mb-n10 z-1">
            <div class="col-lg-6 mb-5">
                <div class="card servicecard h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-secondary-soft text-secondary mb-4"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-layout">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="3" y1="9" x2="21" y2="9"></line>
                            <line x1="9" y1="21" x2="9" y2="9"></line>
                        </svg></div>
                        <h5>Advantage of TFBA (The First & Best Attempt) method</h5>
                        <p class="card-text">The method devised by our mentors has proved to be precise in clearing any exam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="card servicecard h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-success-soft text-success mb-4"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-trending-up">
                                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                <polyline points="17 6 23 6 23 12"></polyline>
                            </svg></div>
                        <h5>Personal Guidance Program</h5>
                        <p class="card-text">With study material available in abundance personalized guidance in what makes use stay ahead of competition. This has produced over 150 results in CSE exam in last 9 years</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card servicecard h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-primary-soft text-primary mb-4"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-tool">
                                <path
                                    d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
                                </path>
                            </svg></div>
                        <h5>Test Series Evaluation by Qualified Persons</h5>
                        <p class="card-text">Only qualified faculties are involved at every stage (prelims, mains and interview preparation)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card servicecard h-100">
                    <div class="card-body p-5">
                        <div class="icon-stack icon-stack-xl bg-warning-soft text-warning mb-4"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-users">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg></div>
                        <h5>Catch them Young</h5>
                        <p class="card-text">More focus on undergraduate students so that they are early into the groove and join the services to serve the nation for long years</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<br>
<br>
<br>
<center>
    <h2 class="wcu">DISCOVER GLORYIAS</h2>
    <hr style="width:16%;background: black;
    height: 2px;
    opacity: 0.7;">
</center>
<div class="container-sm gl">
    <div id="carouselExampleIndicators" class="carousel slide container-sm" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for obj in sliderimages %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %}active{% endif %}"
                aria-current="true" aria-label="Slide 1"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner"  style="box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);">
            {% for img in sliderimages %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
                <img src="{{img.image.url}}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<br>
<br>
<br>
<br>
<center><h2 class="wcu">CHECKOUT OUR VIDEO</h2>
    <hr style="width:15%;background: black;
    height: 2px;
    opacity: 0.7;">
<div class="container-sm gl" style="max-width: 91%;">
    <div class="iframe-container" style="box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);">

    <iframe width="942" height="530" src="https://www.youtube.com/embed/dvJyzv-ySDA" title="Glory IAS ; All about our mentors✨ Exclusive Interview 🙏 4 Siblings who cracked UPSC exam. #gloryias" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
</center>


<br>
<br>
<br>


    

{% endblock content %}